  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Libre+Baskerville&family=Roboto+Mono:wght@500&display=swap');

@font-face {
  font-family: "montecarloregular";
  src: url("/montecarlo-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

